body {
  font-family: Poppins, sans-serif;
  background: #f4f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.add-todo input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 200px;
}

.add-todo button {
  padding: 8px 12px;
  margin-left: 10px;
  border: none;
  background: #1e88e5;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.todo-list ul {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  margin: 6px 0;
  background: #e3f2fd;
  padding: 6px 10px;
  border-radius: 8px;
}

.todo-list li {
  margin: 8px 0;
  background: #e3f2fd;
  padding: 6px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  color: #d32f2f;
  transition: 0.3s;
}

.delete-btn:hover {
  color: #b71c1c;
  transform: scale(1.2);
}
