/* Reset some default styles */
body, h1, ul, li, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f4f8;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 3px;
}

input {
  padding: 12px;
  width: 250px;
  margin-right: 10px;
  border-radius: 30px;
  border: 2px solid #bdc3c7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input:focus {
  border-color: #3498db;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
}

button {
  padding: 12px 18px;
  border-radius: 30px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, transform 0.2s ease, box-shadow 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
  max-width: 350px;
  margin: 20px auto;
}

li {
  margin: 10px 0;
  padding: 15px;
  background-color: #ecf0f1;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease-in-out;
}

li:hover {
  transform: translateX(5px);
  background-color: #e0e4e8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li button {
  background-color: #e74c3c;
  padding: 8px 12px;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

li button:hover {
  background-color: #c0392b;
  transform: scale(1.1);
}

li button:active {
  transform: scale(0.95);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #bdc3c7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #95a5a6;
}
