body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: #f4f4f4;
}

.todo-container {
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #0078d7;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid #0078d7;
    border-radius: 5px;
    outline: none;
}

#addTaskButton {
    background: #0078d7;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}

#addTaskButton:hover {
    background: #005bb5;
}

ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

li {
    background: #e9f4ff;
    margin-bottom: 10px;
    padding: 10px 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.delete-btn:hover {
    background: #cc0000;
}

.edit-btn {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn:hover {
    background: #3e8e41;
}



